1. Problem Statement

   Given a sentence, identify all unique words and display:

In [ ]:
sentence=input("Enter Sentence: ")

# splitting the sentence using split() and storing it in variable
words=sentence.split()

# coverting into set to get unique words using set()
unique=set(words)

# printing result
print("Unique words: ",unique)
print("unique words: ",len(unique))

Enter Sentence: Data science is fun and Data analysis is powerful
Unique words:  {'and', 'fun', 'is', 'powerful', 'Data', 'analysis', 'science'}
unique words:  7

2. Problem Statement
   
   Store employee names and their salaries, and determine which employee has the highest salary.

In [6]:
employees = {}

# asking for no. of employees from user
n=int(input("Enter number of employees: "))

# loop to ask employee name and salary
for i in range(n):
  name=input("Enter employee name: ")
  salary=int(input("Enter employee salary: "))
  employees[name]=salary

# considering Highest salary as 0 initially and name of employee as empty string
highest_salary = 0
e_name = ""

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        e_name = name

print("Highest Salary:", e_name, "->", highest_salary)

Enter number of employees: 4
Enter employee name: Saesha
Enter employee salary: 70000
Enter employee name: Shwet
Enter employee salary: 65000
Enter employee name: Shravya
Enter employee salary: 78000
Enter employee name: Arya
Enter employee salary: 64000
Highest Salary: Shravya -> 78000

3. Problem Statement

   Find the maximum and minimum values from a list of numbers.

In [7]:
# Input list
num = list(map(int, input("Enter numbers : ").split()))

# Initializing max and min with first element
max = num[0]
min = num[0]

# Comparing each element with previous element
for n in num:
    if n > max:
        max = n
    if n < min:
        min = n

print("list: ",num)
print("Maximum value:", max)
print("Minimum value:", min)

Enter numbers : 67 89 43 27 90 12 75
list:  [67, 89, 43, 27, 90, 12, 75]
Maximum value: 90
Minimum value: 12

4. Problem Statement

   Count how many products have a price greater than 1000.

In [8]:
# Taking Input prices
prices = list(map(int, input("Enter product prices : ").split()))

count = 0

# Loop to compare each price
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Enter product prices : 500 3200 648 4210 250 1000
Products above 1000: 2

5. Problem Statement

   Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [11]:
# Taking attendance input
attendance = input("Enter attendance (P/A) : ").split()

# initially considering count as 0 and then after calculating length of attendance and storing it
present_count = 0
total_days = len(attendance)

for day in attendance:
    if day.upper() == "P":
        present_count += 1

# percentage formula
percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Enter attendance (P/A) : P A A P P P A P
Attendance Percentage: 62.5

6. Problem Statement

   You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers

In [12]:
# Taking input from user
phone_no = list(map(int, input("Enter phone numbers : ").split()))

# Convert to set to remove duplicates
unique_numbers = set(phone_no)

print("Unique phone numbers:", unique_numbers)

Enter phone numbers : 5363778287 763879379 27838729739 276787299 9484628224
Unique phone numbers: {9484628224, 276787299, 27838729739, 5363778287, 763879379}

7. Problem Statement

   Count how many times each character appears in a given string.

In [ ]:
# Taking Input string from user
text = input("Enter a string: ")

# container to store string
count = {}

# Counting frequency of each character
for ch in text:
    if ch in count:
        count[ch] += 1
    else:
        count[ch] = 1

# Output
print(count)

Enter a string: Snehasaldurjaysingh
{'S': 1, 'n': 2, 'e': 1, 'h': 2, 'a': 3, 's': 2, 'l': 1, 'd': 1, 'u': 1, 'r': 1, 'j': 1, 'y': 1, 'i': 1, 'g': 1}

8. Problem Statement

   Convert a list into a tuple and display it.

In [13]:
# Taking input
n = list(map(int, input("Enter numbers : ").split()))

numbers_tuple = tuple(n)

# print
print("Tuple:", numbers_tuple)

Enter numbers : 68 73 50 93 84
Tuple: (68, 73, 50, 93, 84)

9. Problem Statement

   Check whether a specific key exists in a dictionary.

In [3]:
# Take dictionary input
n = int(input("Enter number of employees: "))
employees = {}

for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter salary: "))
    employees[name] = salary

# Key to check
key = input("Enter employee name to search: ")

# Check existence
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter number of employees: 5
Enter employee name: Jay
Enter salary: 80000
Enter employee name: Saesha
Enter salary: 75000
Enter employee name: Shwet
Enter salary: 60000
Enter employee name: Shravya
Enter salary: 50000
Enter employee name: Arya
Enter salary: 45000
Enter employee name to search: Shwet
Employee exists

10. Problem Statement

    Calculate the average marks of a student from a list of marks.

In [10]:
# taking user input as marks
marks = list(map(float, input("Enter marks: ").split()))

# initially considering total as 0
total = 0

# adding each mark with total and storing it in total variable
for m in marks:
    total += m

# formula for getting average
average = total / len(marks)

print("Average Marks:", average)

Enter marks: 87 94 74 60 50
Average Marks: 73.0